[Desktop Entry]
Encoding=UTF-8
Name=Link to Puente a Mallorca
Type=Link
URL=http://puenteamallorca.esy.es/
Icon=mate-fs-bookmark
Name[en_US]=Enlace a Puente a Mallorca
